/* mitä lienee yleisii juttui */
/* @import url(https://fonts.googleapis.com/css?family=Roboto:300); */

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
    min-width: 320px;
    min-height: 100vh;
    margin: 16px;
    background-color: aliceblue;
    background-image: url(bgimage.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }

.hidden {
    display: none;
  }


/* form styling */
.login {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    /* display: none; */
  }
  
  form {
    position: relative;
    z-index: 1;
    background: #29333C;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 100;
    color: #f2f2f2;
  }
  
  form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 10px;
  }
  
  .loginuser {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #050505;
    font-size: 14px;
    cursor: pointer;
  }
  
  .createuser {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #050505;
    font-size: 14px;
    cursor: pointer;
  }
  
  form #loginbutton:hover,.form #loginbutton:active,.form #loginbutton:focus {
    background: #C3CBCE;
  }

  #loginbutton {
    font-size: 18px;
  }
  
  #createAccount {
    font-size: 20px;
  }
  
  .hiddentext {
    color: #29333C;
  }
  
  form .not_registered {
    margin: 15px 0 0;
    color: #f2f2f2;
    font-size: 13px;
  }
  
  form .not_registered a {
    color: #5D7283;
    text-decoration: none;
  }
  
  /* popup styling */
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
  }
  
  #popup {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #C3CBCE;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
  }
  
  .registerHeading {
    text-align: center;
    font-size: 25px;
  }
  
  /* Close button style */
  .closePopup {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
  }